<!-- templates/partials/players_form.html -->
<fieldset class="container m-0 p-0">
    <legend>{{ title }}</legend>
    <!-- TITLE -->
    <p>
        <label class='form-group' for='title'>Title</label><br>
        <input class="form-control" id='title' type='text' name='title' value='{{ good_player.title }}' />
    </p>

    <!-- DESCRIPTION -->
    <p>
        <label class='form-group' for='description'>Description</label><br>
        <input class="form-control" id='description' type='text' name='description' value='{{ good_player.description }}' />
    </p>

    <!-- VIDEO LINKS -->
    <p>
        <label class='form-group' for='images'>Image</label><br>
        <p>Add an image url.</p>
        <textarea class="form-control" id='images' name='images' rows='5' value='{{ good_player.image }}'>{{ "\n".join(good_player.images) }}</textarea>
    </p>

    <p>
        <label class='form-group' for="price">Price</label><br>
        <input class="form-control" id='price' name='price' value='{{ good_player.price }}' />
    </p>

    <div class='form-group'>
    <select class="form-control" id="exampleFormControlSelect1" name='rating' value='{{ good_player.rating }}'>
            <label for='rating'>Rating</label><br>
            <option value="★ ☆ ☆ ☆ ☆">1 star</option>
            <option value="★ ★ ☆ ☆ ☆">2 stars</option>
            <option value="★ ★ ★ ☆ ☆">3 stars</option>
            <option value="★ ★ ★ ★ ☆">4 stars</option>
            <option value="★ ★ ★ ★ ★">5 stars</option>
    </select>
    </div>
    <!-- BUTTON -->
</fieldset>
