body {
    background-color: white;
    padding-bottom: 50px;
}

h4, h2, h3, font {
    font-family: palatino;
}

.btn {
    background-color: black;
    color: white;
}

.btn-checkout {
    float: right;
    background-color: black;
    color: white;
}

h1 {
    font-family: optima, sans-serif;
    font-size: 60px;
    color: black;
}

p {
    font-family: sans-serif;
    padding-top: 0px;
}

.card-block {
    position: relative;
    width: 90%;
}

.mongo-images {
    box-shadow: 3px 3px 5px grey;
    padding: 1px;
    border: 10px solid black;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.section:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

/*Floating Back-To-Top Button*/
#myBtn {
    position: fixed;
    bottom: 40px;
    float: right;
    right: 8.5%;
    left: 90.25%;
    max-width: 50px;
    width: 100%;
    font-size: 12px;
    border-color: rgba(85, 85, 85, 0.2);
    background-color: black;
    padding: .5px;
    border-radius: 4px;

}
/*On Hover Color Change*/
#myBtn:hover {
    background-color: grey;
}

/* Design credit to Ashley DeNuzzo */



.player-title {
    color: #19323C;
  }

.player-title:hover {
    color: rgba(25, 50, 60, 0.749);
}

.custom-button {
    color: #fff;
    background-color: #55828B;
    border-color: #55828B;
}

.custom-button:hover {
    color: #fff;
    background-color: rgba(85, 130, 139, 0.75);
    border-color: rgba(85, 130, 139, 0.75);
}

.custom-button-outline {
    color: #55828B;
    background-color: #fff;
    border-color: #55828B;
}

.custom-button-outline:hover {
    color: #fff;
    background-color:  rgba(85, 130, 139, 0.75);
    border-color: #fff;
}

.comment {
    background-color: #FBFCFF;
    padding: 10px;
}

.textbox {
    padding-top: 125px;
    padding-bottom: 150px;
}
