.player-title {
    color: #19323C;
  }

.player-title:hover {
    color: rgba(25, 50, 60, 0.749);
}

.custom-button {
    color: #fff;
    background-color: #55828B;
    border-color: #55828B;
}

.custom-button:hover {
    color: #fff;
    background-color: rgba(85, 130, 139, 0.75);
    border-color: rgba(85, 130, 139, 0.75);
}

.custom-button-outline {
    color: #55828B;
    background-color: #fff;
    border-color: #55828B;
}

.custom-button-outline:hover {
    color: #fff;
    background-color:  rgba(85, 130, 139, 0.75);
    border-color: #fff;
}

.comment {
    background-color: #FBFCFF;
    padding: 10px;
}

.textbox {
    padding-top: 125px;
    padding-bottom: 150px;
}
