<!-- templates/index.html -->
{% extends 'base.html' %}

{% block content %}

<div class="row mb-4">
  <div class="col">
    <h1>The Shop</h1>
  </div>
  <div class="col">
      <a href='/players/new'><button class="btn btn-outline-primary float-right custom-button-outline ml-2" href='/players/new' type='submit'>New Player</button></a>
</div>

</div>
</div>
<div class="card-group">
  <div class="container">

    <div class="row">
      {% for player in players %}

      <div class="col-lg-3 col-md-6 mb-4">

        <div class="card h-100">
            <a href='/players/{{ player._id }}' class="player-title">
          {% for image in player.images %}
          <img src='{{ image }}' class="card-img-top">
          {% endfor %}
          <div class="card-body">
            <h4 class="card-title">
              <a href='/players/{{ player._id }}' class="player-title">{{ player.title }}</a>
            </h4>
            <h5>{{ player.price }}</h5>
            <p class="card-text">{{ player.description }}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{ player.rating }}</small>
          </div>
        </a>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- /.col-lg-9 -->
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->



{% endblock %}
