<!-- templates/show_player.html -->
{% extends 'base.html' %}

{% block content %}
<div class="row mb-4">

    <div class="col">

        <a class="btn btn-outline-primary custom-button-outline" href="/" role="button">Back Home</a>

    </div>
    <div class="col justify-content-end">
        <form method='POST' action='/player/{{ good_player._id }}/delete'>
            <button class="btn btn-outline-danger float-right" type='submit'>Delete</button>
        </form>
        <a href='/player/{{ good_player._id }}/edit'><button class="btn btn-outline-primary float-right custom-button-outline mr-2" href='/player/{{ good_player._id }}/edit' type='submit'>Edit</button></a>


    </div>
</div>
<div class="container">

    <div class="row">
        <div class="col-md justify-content-center">
            {% for image in good_player.images %}
            <img src='{{ image }}' width="100%">
            {% endfor %}
        </div>
        <div class="col-md">
            <h1>{{ good_player.title }}</h1>
            <h1 class="mb-5">{{ good_player.price }}</h1>
            <p>{{ good_player.description }}</p>
        </div>
    </div>
</div>
<h2 class="pt-5">Reviews for {{ good_player.title }}</h2>
<div class="container">
<div class="row">
        <div class="col pl-0">
            {% for comment in comments %}
            {% include 'partials/comment.html' %}
            {% endfor %}
        </div>
        <div class="col-md-4 pr-0">
            {% include 'partials/comment_form.html' %}

        </div>

    </div>
</div>


{% endblock %}
